<div class="main-event-desc-container" id="eventid">
    <div class="main-event-img">
        <div class="imageSliderContainer">
            <ng-image-slider #nav [manageImageRatio]="false" [images]="imageObject"
                [imageSize]="{ width: '100%', height:'50%' }"
                >
            </ng-image-slider>
        </div>
    </div>
    <div class="main-event-content">
        <h4 class="main-event-header">Event Header</h4>
        <p class="main-event-description"> Event description</p>
    </div>
</div>