<div class="event-container">
    <div class="timeline-divider"></div>
    <div class="timeline-dot"></div>
    <div class="event-content">
        <div class="event-content-item">
            <div class="content-container">
                <img src="https://hackkosice.com/images/events/hk19/arrival_registration_hu9c5b0c793d9bb1618b8c596bf6a17dfb_3125095_640x360_fill_q60_box_smart1.jpg"
                    alt="event-img">
            </div>
        </div>
        <div class="event-content-item">
            <div class="content-container">
                <h4>Event Name , Saturday</h4>
                <p>qr code</p>
            </div>
        </div>
    </div>
</div>