<div class="time-event" *ngFor="let year of  yearList">
    <div class="timeline-event-date">{{year.year}}</div>
    <div class="event-container" *ngFor="let event of year.eventList">
        <div class="timeline-divider"></div>
        <div class="timeline-dot"></div>
        <app-timeline-event-content [eventL]="event"></app-timeline-event-content>
        <!-- <div class="event-content" (appearOnScreen)="onAppear()" [@appear]="getAppear">

            <div class="event-content-item img-content-item">
                <div class="content-container">
                    <img src="{{event.eventPhotos[0]}}" alt="event-img">
                </div>
            </div>

            <div class="event-content-item ">
                <div class="content-container ">
                    <div class="relative">
                        <h4 class="event-title"> <a href="#{{event.eventName}}">{{event.eventName}}</a></h4>
                    </div>
                    

                </div>
            </div>
        </div> -->
    </div>
</div>