
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}


$main-red: #e81943; 
$main-white: #f0f0f0;
$main-black: #191919;

.timeline-container {
  padding: 0 15px;
  app-timeline-event:nth-child(odd) ::ng-deep .event-container {
    .event-content {
      flex-direction: row-reverse;
      text-align: right;
      .content-container{
        align-items: flex-end;
      }
    }
  }
}
.curve-line{
  margin-top: 130px;
  position: relative;
  .custom-shape-divider-top-1650719281 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    fill: $main-red;
}
}
