<div class="event-content" (appearOnScreen)="onAppear()" [@appear]="getAppear">
            
    <div class="event-content-item img-content-item">
        <div class="content-container">
            <img src="{{eventL.eventPhotos[0]}}"
                alt="event-img">
        </div>
    </div>

    <div class="event-content-item ">
        <div class="content-container ">
            <div class="relative">
                <h4 class="event-title"> <a href="#{{eventL.eventName}}">{{eventL.eventName}}, {{eventL.eventDate}} </a></h4>
            </div>
            <!-- <div > <img src="../../../../API/QRCodes/goldvanula.png" alt="gol"></div> -->

        </div>
    </div>
</div>
