@import "../app.component.scss";

.main{
   padding: 20px 20px;  
 }


#logo{
   display: inline;
   transition: transform .2s ease;

}

#logo:hover{
   transform: scale(1.1);
}


.title{
    display: inline;
    color: $main-black;
    font-weight: 700;
    font-size: 50px;
    margin-left: 30%;
   
   
}